<!-- app.component.html -->
<h2>{{ title }}</h2>
<div class="table-container">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Device ID</th>
        <th>Epoch Data</th>
        <th>Epoch Stored</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>delta distance</th>
        <th>delta_t</th>
        <th>speed</th>
        <th>mov_avg_spd</th>

        <th>Active</th> <!-- New Column Header -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.deviceId }}</td>
        <td>{{ user.epochData }}</td>
        <td>{{ user.epochStored }}</td>
        <td>{{ user.latitude }}</td>
        <td>{{ user.longitude }}</td>
        <td>{{ user.delta_distance }}</td>
        <td>{{ user.delta_t }}</td>
        
        <td>{{ user.speed }}</td>
        <td>{{ user.mov_avg_spd }}</td>

        <td [ngClass]="user.isActive ? 'active' : 'inactive'">{{ user.isActive ? 'True' : 'False' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="button-container">
  <button (click)="onPrevClick()" [disabled]="currentPage <= 0">Previous</button>
  <button (click)="onNextClick()" [disabled]="currentPage >= totalPages">Next</button>
</div>

<!-- Message display goes here -->
<div *ngIf="message" class="message">{{ message }}</div>
